@import './libs/normalize.css';
@import './vars.css';
@import './fonts.css';

html {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', 'sans-serif';
  color: var(--text-color-main);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

​img {
  display: block;
  max-width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

button {
  border: none;
  background: transparent;
}
li {
  list-style-type: none;
}
