.favorite__container {
  width: 100%;
  margin-top: 40px;
}

.favorite__list {
  font-size: 18px;
  line-height: 26px;
  padding: 20px 20px;
  background: #ffffff;
  border: 1px solid #f8f8f8;
  box-sizing: border-box;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 15px;
}

.favorite__box_letter {
  display: flex;
  align-items: flex-start;
}

.favorite__joke_text {
  font-size: 14px;
  line-height: 20px;
}

.favorite__iconFavActive {
  margin-right: 10px;
  cursor: pointer;
}

.favorite__FavoriteText {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #ababab;
}
nav {
  display: flex;
  justify-content: flex-end;
}

.favorite__modul {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 20px;
  width: 100vw;
  background-color: #f8f8f8;
  z-index: 2;
  height: 100%;
}

@media (min-width: 768px) {
  .favorite__modul {
    height: 100%;
    padding: 40px;
    width: 480px;
    margin-left: auto;
  }
  .favorite__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
}

@media (min-width: 1440px) {
  .favorite__overlay,
  .favorite__iconFavActive {
    display: none;
  }
  .favorite__modul {
    position: static;
    height: 100vw;
  }
  nav {
    justify-content: flex-start;
  }
}
